{% extends "gold/template.html" %}
    {% block content %}
    <h1>Gold : {{ request.session.gold }}</h1>
    <form action="process_gold" method="POST">
        {% csrf_token %}
        <h2>Farm</h2>
        <input type="hidden" id="gold_location" name="gold_location" value="farm">
        <button type="submit">Find Gold!</button>
    </form>
    <form action="process_gold" method="POST">
        {% csrf_token %}
        <h2>Cave</h2>
        <input type="hidden" id="gold_location" name="gold_location" value="cave">
        <button type="submit">Find Gold!</button>
    </form>
    <form action="process_gold" method="POST">
        {% csrf_token %}
        <h2>House</h2>
        <input type="hidden" id="gold_location" name="gold_location" value="house">
        <button type="submit">Find Gold!</button>
    </form>
    <form action="process_gold" method="POST">
        {% csrf_token %}
        <h2>Casino</h2>
        <input type="hidden" id="gold_location" name="gold_location" value="casino">
        <button type="submit">Find Gold!</button>
    </form>
    <br>
    <form action="reset" method="POST">
        {% csrf_token %}
        <button type="submit">START OVER</button>
    </form>
    {% for activity in request.session.activities reversed %}
    <p class="{{ activity.result }}">{{ activity.message }}</p>
    {% endfor %}
    {% endblock content %}